@charset "UTF-8";

 body{font-family: Arial, Helvetica, sans-serif; font-size:16px; background-color: gray ;}
        h1{color: aqua;}
        h2{color: cadetblue;}
        p{color: cornflowerblue; text-align: justify;}
